<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>ICRC</author>
	<description>${project.parent.description}</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openmrsPlatformVersion}</require_version>
	<!-- / Module Properties -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.PatientGridActivator</activator>

    <!-- Required Modules -->
    <require_modules>
        <require_module version="${calculationVersion}">org.openmrs.calculation</require_module>
        <require_module version="${reportingVersion}">org.openmrs.module.reporting</require_module>
        <require_module version="${datafilterVersion}">org.openmrs.module.datafilter</require_module>
        <require_module version="${webservicesRestVersion}">org.openmrs.module.webservices.rest</require_module>
    </require_modules>

    <!-- Maps hibernate file's, if present -->
    <mappingFiles>
        PatientGrid.hbm.xml
        PatientGridColumn.hbm.xml
    </mappingFiles>
    
    <!-- Global properties -->

</module>

